.main-container {
    margin-top: 10px;
}

.fa-microphone {
    color: #14A76C;
    font-size: 3em;
    line-height: 1.5em;
}

.fa-microphone.active {
    color: #58c89b;
}



.fa-microphone:hover {
    color: #0c6e47;
}

.fa-volume-up {
    color: gold;
}

.fa-volume-up:hover {
    color: darkgoldenrod;
}

.fa-volume-mute {
    color: white;
}

.fa-volume-mute:hover {
    color: beige;
}

.fa-file-audio {
    color: #FF652F;
}

.fa-file-audio:hover {
    color: #d44916;
}

.control {
    
}

.output-display {
    background-color: #383b4b;
    height: 700px;
    font-size: 5em;
    line-height: 1.1em;
}

.fas, .fa {
    cursor: pointer;
}

.background {
    background-color: #272727;
    color: #747474;
}